# https://projectlombok.org/features/configuration
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.addNullAnnotations = jspecify

# Prevent usage of some lombok features
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.setter.flagUsage=error
lombok.getter.flagUsage=error
lombok.toString.flagUsage=error
lombok.equalsAndHashCode.flagUsage=error
# TODO Consider whether to enable or not
#lombok.allArgsConstructor.flagUsage=error
#lombok.noArgsConstructor.flagUsage=error
lombok.data.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.locked.flagUsage=error
lombok.with.flagUsage=error
lombok.getter.lazy.flagUsage=error
lombok.experimental.flagUsage=error